<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ngo Anti-Corruption</title>
    <link rel="icon" href="../static/img/ngo_logo.jpg" type="image/icon type" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/userhome">
          <img
            src="../static/img/ngo_logo2.jpg"
            alt=""
            width="40"
            height="40"
            class="d-inline-block align-text-top"
          />
          <span
            style="
              text-align: center;
              font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
                'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            "
          >
            <b><i>Ngo Anti-Corruption</i></b>
          </span>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/userhome">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/userdonatepage">Donate</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Statement
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/userpendingpage">Pending</a></li>
                <li><a class="dropdown-item" href="/userapporvedpage">Apporved</a></li>
                <li><a class="dropdown-item" href="/userrejectedpage">Rejected</a></li>
              </ul>
            </li>
          </ul>
          <h6 style="color: white; margin-right: 15px;"><i>{{username}}</i></h6>
          <a href="/userlogout">
          <button
            class="btn btn-outline-secondary"
            type="submit"
            style="color: white"
          >
            Logout
          </button>
        </a>
        </div>
      </div>
    </nav>

    <br /><br />

    <div class="container">
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-bs-ride="true"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="../static/img/side3.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="../static/img/side1.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="../static/img/side4.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

        <br/><br/>
        <h2 style="text-align: center;">About Us</h2>
        <p style="font-size: 22px;   text-align: justify;
        text-justify: inter-word;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit quos veritatis, libero molestiae quisquam delectus debitis voluptas, dicta eaque aspernatur nobis, temporibus commodi alias fuga. Dolorum vitae ea laboriosam reiciendis.</p>
    </div>

  </body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
